<a href="https://colab.research.google.com/github/DarlynRizelDuque05/CPEN-21A-BSECE-2-3/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Indentation

In [24]:
if 5>2:
  print("Five is greater than two!") #This code shows a string of words.

Five is greater than two!

###Python Variable

In [25]:
a, b, c = 0, 1, 2
d = "Sally" #This is a type of string
s = 'Mark' #This is a type of string
A = "Raymond" #This is a type of string
print(a)
print(b)
print(c)
print(d)
print(s)
print(A)

0
1
2
Sally
Mark
Raymond

###Casting

In [28]:
print(float(4))

4.0

###Type()Function

In [29]:
f = 56
print(type(f))

<class 'int'>

In [30]:
x, y, z ="one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [31]:
x = y = z = "four" #Multiple variables with single value
print(x)
print(y)
print(z)

four
four
four

In [32]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

###Operations in Python

In [33]:
k = 10
l = 5
print(k+l)

15

In [34]:
k += l #k is the same k = k+1
print(k)

15

In [35]:
k>1 and l==l

True

In [36]:
k<l or k==k

True

In [40]:
not(k<l or k==k)

False

In [41]:
k += l #k is the same k= k+l
print(k)

30

In [42]:
k>1 and l==l

True

In [43]:
k<l or k==k

True

In [44]:
not(k<l or k==k)

False

In [45]:
k is not l

True

In [47]:
k%=5